.leaflet-container {  
  display: flex;
  align-items: top;
  justify-content: center;
  width: 100vw;  height: 100vh; 
  z-index: 0;
}

.leaflet-div-icon {
  background: none;
  border: none;
}

@keyframes fade { 
  from { opacity: 0.5; } 
}

.animated-beer-icon {
  animation: bounce .3s ease infinite alternate;
}

@keyframes bounce {
  100% {
    top: -20px;
  }
}

.help-tool {
  background-color: #F4F4F4;
  padding: 6px;
  cursor: pointer;
}

/* .leaflet-bottom .help-control {
  max-height: 44px;
  cursor: pointer;
} */